/*--------Обнуление----------*/
* {
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Montserrat';
}

a {
	text-decoration: none;
}



.center {
	padding-left: calc(50% - 600px);
	padding-right: calc(50% - 600px);
}

.price {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #050505;
	margin: 0 32px 0 0;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	background: transparent;
	background: rgba(222, 215, 215, 0.41);
	border-radius: 20px;
	border: 1px solid #000000;
	height: 46px;
	width: 275px;
	transition: all 0.3s;
}

.button:active {
	position: relative;
	top: 1px
}


/*---------------top----------------- */

.top {
	height: 735px;
	background-image: url(../img/top/topbgi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header {
	height: 76px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header__input {
	outline: none;
	color: #FFFFFF;
	width: 288px;
	height: 41px;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
	padding: 0 32px;
	background: transparent;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	transition: border-color .2s ease;
}

.header__input:hover {
	color: rgba(106, 105, 105, 0.6);
}

.header__input::placeholder {
	color: #FFFFFF;
}

.menu {
	display: flex;
	gap: 32px;

	&-mobile {
		display: none;
	}
}

.menu__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}


.menu__link:hover {
	text-decoration: underline;
}


.top__content {
	color: #FFFFFF;
}

.top__title {
	font-weight: 600;
	font-size: 64px;
	line-height: 70px;
	margin: 64px 0 16px 0;
	max-width: 792px;
}

.top__subtitle {
	font-size: 24px;
	line-height: 32px;
	margin: 0 0 16px 0;
}

.top__link {
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}

.top__link:hover {
	text-decoration-line: underline;
}


/*---------------for__box----------------- */
.for__box {
	padding-top: 64px;
}

.for {
	display: grid;
	gap: 32px;
	grid-template-columns: repeat(12, 1fr);
}

.for__item {
	height: 415px;
	grid-column: span 4;
	text-align: center;
	font-style: normal;
	font-weight: 600;
	font-size: 34px;
	line-height: 41px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	transition: all 0.3s;
	box-sizing: border-box;
}

.for__item:hover {
	box-shadow: 0 0 5px rgb(164, 164, 164);
	transform: scale(1.05);
}

.for__item_big {
	grid-column: span 6;
}

.for__item_1 {
	background-image: url(../img/for/for-1.jpg);
	background-size: cover
}

.for__item_2 {
	background-image: url(../img/for/for-2.jpg);
	background-size: cover
}

.for__item_3 {
	background-image: url(../img/for/for-3.jpg);
	background-size: cover
}

.for__item_4 {
	background-image: url(../img/for/for-4.jpg);
	background-size: cover
}

.for__item_5 {
	background-image: url(../img/for/for-5.jpg);
	background-size: cover
}

/*---------------offers----------------- */

.offers {
	padding-top: 64px;
}

.offers__title {
	font-weight: 600;
	font-size: 48px;
	line-height: 59px;
	color: #000000;
	margin: 0 0 32px 0;
}

.title {
	font-weight: 600;
	font-size: 48px;
	line-height: 59px;
	color: #000000;
	margin: 0 0 30px 0;
}

.offers__column {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	justify-content: space-between;
}

.offers__item {
	transition: all 0.3s;
	width: 378px;
	display: flex;
	flex-direction: column;
}

.offers__item:hover {
	box-shadow: 0 0 5px rgb(164, 164, 164);
	transform: scale(1.05);
}

.item-offers__image {
	width: 100%;
}

.item-offers__title {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	margin: 10px 0 9px 0;
}

.item-offers__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #888888;
	margin: 0 0 12px 0;
}

.offers__box-price {
	gap: 32px;
}


.price-old {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-decoration-line: line-through;
	color: #888888;
}

/*---------------product----------------- */


.product__title {
	margin: 72px 0 32px 0;
}

.product__column {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 56px;
}

.product__item {
	transition: all 0.3s;
	display: flex;
	flex-direction: column;
	width: 379px;
	padding: 5px;
	box-sizing: border-box;
}

.product__item:hover {
	box-shadow: 0 0 5px rgb(164, 164, 164);
	transform: scale(1.05);
}

.item-product__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	margin: 10px 0 9px 0;
}

.item-product__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #888888;
	margin: 0 0 12px 0;
}

.product__cotolog {
	margin: 39px 0 64px 0;
}

.product__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.product__link:hover {
	text-decoration-line: underline;
}

.product__more {
	display: none;
}

/*---------------catalog----------------- */

.top__catalog {
	height: 400px;
	background-image: url(../img/top/catalog-top.jpg);
	background-size: cover;
	background-image: no-repeat;
	background-position: center;
}

.menu__link_catalog {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: #000000;

}

.menu__link_catalog:not(:last-child)::after {
	content: "/";
	margin: 0 10px 0 10px;
}

.menu__link_catalog:hover {
	text-decoration: underline;
}

.menu__box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 64px;
	margin-bottom: 32px;
}

.menu__catalog {
	display: flex;
	align-items: center;
}

.title-catalog {
	margin: 127px 0 126px 0;
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 70px;
	color: #FFFFFF;
}

.select__wrapper {
	width: 288px;
	position: relative;
}

.select__wrapper::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: rgb(0, 0, 0) transparent transparent transparent;

	position: absolute;
	top: 40%;
	right: 20px;
	z-index: 1;
	pointer-events: none;
}

.select {
	width: 100%;
	font-family: inherit;
	color: #000000;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	transition: all 0.3s;

	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	border: 1px solid #C4C4C4;
	border-radius: 20px;
	background-color: #FFFFFF;
	outline: none;
	padding: 11px 75px 10px 14px;
}

.select:hover {
	box-shadow: 2px 2px 1px 2px rgb(190, 185, 185);
}

.option {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}

.menu__link-bottom {
	margin: 32px 0 0 0;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.menu__link-bottom:hover {
	text-decoration-line: underline;
}

.menu__bottom {
	margin: 0 0 64px 0;
}

/*---------------footer---------------- */
.footer {
	padding-top: 32px;
	padding-bottom: 40px;
	background: #F7F6F6;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.footer__content {
	width: 792px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer__info {
	display: flex;
	gap: 129px;
}

.footer__item {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.footer__item a {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #888888;
}

.footer__menu-link:hover {
	text-decoration-line: underline;
	color: #000000;
}

.footer__icons {
	display: flex;
	align-items: center;
	gap: 20px;
	transition: all 0.3s;
	box-sizing: border-box;
}

.footer__icons a:hover {
	transform: scale(1.05);
}

.footer__icons svg:hover {
	fill: #000000;
}

.footer__form {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.footer__text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}

.footer__text p {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #000000;
	margin-bottom: 4px;
}

.footer__input {
	outline: none;
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	border-radius: 20px;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #C4C4C4;
	padding: 13px 25px;
	transition: all 0.3s;
}

.footer__input:hover {
	box-shadow: 2px 2px 2px 2px rgb(190, 185, 185);
}

.footer__button {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
	background: rgba(222, 215, 215, 0.41);
	border: 1px solid #FFFFFF;
	border-radius: 20px;
}

.footer__button:hover {
	background: #000000;
	color: #FFFFFF
}


@import 'cart';
@import 'tablet';
@import 'mobile';
