@media (max-width: 767px) {
	.center {
		padding: 0 16px;
	}

	.header {
		border-bottom: none;
		padding-top: 32px;

		&__logo {
			width: 99px;
		}

		&__input {
			display: none;
		}
	}

	.menu {
		display: none;

		&-mobile {
			display: block;
			display: flex;
			gap: 32px;
			align-items: center;
		}
	}

	.top {
		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__title {
			text-align: center;
			font-size: 48px;
			line-height: 59px;
		}

		&__subtitle {
			font-size: 16px;
			line-height: 32px;
		}

		&____link {
			font-size: 14px;
			line-height: 24px;
		}
	}

	.for__title {
		font-size: 24px;
		line-height: 29px;
		margin: 32px 0;
	}

	.for {
		grid-template-columns: repeat(4, 1fr);
		justify-content: center;
		gap: 16px;

		&__item {

			grid-column: 1 / -1;
			height: 375px;
			font-size: 28px;
			line-height: 34px;

			&_big {
				height: 244px;
			}
		}
	}

	.offers {

		.price,
		.price-old {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 32px;
		}

		&__title {
			font-size: 24px;
			line-height: 29px;
			margin: 32px 0;
		}

		&__column {
			gap: 32px;
		}

		.item-offers__title {
			font-size: 18px;
			line-height: 22px;
			margin: 9px 0 3px 0;
		}

		.item-offers__text {
			margin-bottom: 8px;
		}
	}

	.product {
		.price {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 32px;
		}

		&__image {
			height: 226px;
		}

		&__title {
			margin: 36px 0 32px 0;
			font-size: 24px;
			line-height: 29px;
		}

		&__cotolog {
			margin: 36px 0 32px 0;
		}

		.item-product__title {
			font-size: 18px;
			line-height: 22px;
		}
	}

	.footer {
		padding: 33px 16px;

		&__content {
			justify-content: center;
		}

		&__info {
			margin-left: -16px;
			margin-bottom: 34px;
		}

		&__button {
			width: 268px;
		}
	}

	/*-------catalog---------*/

	.top__catalog {
		.title-catalog {
			margin: 102px 0 0 0;
		}
	}

	.menu__box {
		margin-top: 32px;

		.select {
			margin-top: 16px;
		}
	}

	.menu__bottom {
		margin-top: 32px;
		margin-bottom: 32px;
	}

	.select {
		padding: 11px 75px 10px 14px;

		&__wrapper::after {
			content: "";
			top: 58%;
		}
	}

	.product {
		&__column {
			justify-content: center;
		}
	}

	/*---------cart---------*/
	
	.top-cart {
		background-position: 700px 0;

		.heding-title {
			font-size: 48px;
			line-height: 59px;
			text-align: center;
			margin-top: 70px;
		}
	}

	.cart {
		grid-template-columns: repeat(4, 1fr);

		&__content {
			grid-column: 1 / -1;
		}

		&__image {
			display: none;
		}

		&__name {
			display: none;
		}

		&__item {
			grid-template-columns: repeat(4, 1fr);
			padding-top: 18px;
			justify-content: none;

			&__text {
				font-size: 12px;
				line-height: 15px;
			}

			&__price {
				font-size: 12px;
				line-height: 15px;
			}
		}

		&__left {
			margin-bottom: 0;
		}

		&__buttons {
			display: flex;
			justify-content: space-between;
			margin-top: 32px;

			&__button {
				border-radius: 50px;
				width: 163px;
				height: 37px;
				font-size: 12px;
				line-height: 15px;
			}

			.button {
				width: 163px;
				font-size: 12px;
				line-height: 15px;
			}
		}

		&__form {
			width: 343px;
		}
	}

	.offers {
		&__column {
			justify-content: center
		}

		.product__cotolog-cart {
			display: none;
		}

		.product__more {
			margin: 32px 0;

			display: block;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: #000000;
		}
	}
}

@media (max-width: 390px) {
	.product__item {
		width: 343px;
	}
}
